#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	dh_auto_build -- -j$$(nproc)

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install --sourcedir=debian/startlens
